<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to "私のしおり", "/", class: "navbar-brand ms-2" %>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center mx-2">
        <li class="nav-item">
          <%= link_to t("header.create_book"), new_book_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("header.book_index"), books_path, class: "nav-link" %>
        <li class='nav-item dropdown dropdown-slide' >
          <%= link_to 'マイページ', "#", class: 'nav-link', data: { bs_toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } %>
          <div class='dropdown-menu dropdown-menu-end'>
          <div class='dropdown-item'>
            <%= link_to "作成しおり一覧", books_path, class: 'dropdown-item' %>
          </div>
          <div class='dropdown-item'>
            <%= link_to "ブックマーク一覧", books_path, class: 'dropdown-item' %>
          </div>
          <div class='dropdown-item'>
            <%= link_to "登録情報", books_path, class: 'dropdown-item' %>
          </div>
          <div class='dropdown-item'>
            <%= link_to t("header.logout"), logout_path, class: "nav-link", data: { turbo_method: :delete } %>
          </div>
        </div>
      </li>
      </ul>
    </div>
</header>
