<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-10 mx-auto my-5 py-4">
      <div class="card">
        <%= image_tag @book.image_url, class: "card-img-top", height: "600" %>
        <div class="card-img-overlay d-flex flex-column">
          <div class="my-3 text-center display-1 mx-auto my-auto">
            <%= @book.title %>
          </div>
          <div class="col-8 fs-4 mx-auto">
            <%= @book.outline_title %>
            <br>
            <%= @book.outline_body %>
          </div>
          <div class="container pe-3 pb-3 text-end mt-auto ms-auto">
            <% if logged_in? %>
              <% if current_user.own?(@book) %>
                <div class="ms-auto">
                  <%= link_to edit_book_path(@book), id: "button-edit-#{@book.id}" do %>
                    <i class="bi bi-pencil-fill icon-lg"></i>
                  <% end %>
                  <%= link_to book_path(@book), id: "button-delete-#{@book.id}", data: { turbo_method: :delete, turbo_confirm: t("books.show.delete_confirm") } do %>
                    <i class="bi bi-trash-fill icon-lg"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          </div>
        </div>
      </div>

      <div id="book-plan">
        <div class="row">
          <div class="col-9 mt-5 mx-auto">
            <% @book.plans.each do |plan| %>
              <div class="row mb-3">
                <div class="col-10 mb-3">
                  <h4><%= plan.date.strftime("%Y/%m/%d") if plan.date.present? %></h4>
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 fs-4">
                      <%= plan.start_time.strftime("%H:%M") if plan.start_time.present? %>
                    </div>
                    <div class="col-md-9 fs-4">
                      <%= plan.title if plan.title.present? %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 mb-2 fs-5">
                      <%= plan.end_time.strftime("~ %H:%M") if plan.end_time.present? %>
                    </div>
                    <div class="col-md-9 mb-2 fs-5">
                      <%= plan.location if plan.location.present? %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-9 mb-3 offset-md-3 fs-5">
                      <%= plan.detail if plan.detail.present? %>
                    </div>
                    <% if logged_in? && @book.user_id == current_user.id %>
                      <div class="col-md-9 mb-3 offset-md-3 fs-5">
                        <%= plan.memo if plan.memo.present? %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="mb-5 pb-5 d-flex justify-content-center">
        <div id="map" style="height: 600px; width: 70%;"></div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("turbo:load", function() {
  loadGoogleMapsAPI(() => {
    initializeMap();
  });
});

function loadGoogleMapsAPI(callback) {
  if (window.google && window.google.maps) {
    callback();
  } else {
    window.initMapCallback = callback;
    const script = document.createElement('script');
    script.src = `https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&libraries=places&callback=initMapCallback`;
    script.async = true;
    script.defer = true;
    document.body.appendChild(script);
  }
}

document.addEventListener("turbo:before-cache", function() {
  const mapElement = document.getElementById('map');
  if (mapElement) {
    mapElement.innerHTML = "";
  }
});

function initializeMap() {
  const mapElement = document.getElementById('map');
  if (!mapElement) {
    console.error('Map element not found');
    return;
  }

  const mapOptions = {
    center: { lat: 35.6803997, lng: 139.7690174 },
    zoom: 10
  };
  const map = new google.maps.Map(mapElement, mapOptions);
  const plans = <%= raw @book.plans.to_json %>;

  plans.forEach(plan => {
    if (plan.latitude && plan.longitude) {
      new google.maps.Marker({
        position: { lat: plan.latitude, lng: plan.longitude },
        map: map,
      });
    }
  });
}
</script>
