<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-10 mx-auto my-5 py-4">
      <div class="card">
        <%= image_tag @book.image_url, class: "card-img-top", height: "600" %>
        <div class="card-img-overlay d-flex flex-column">
          <div class="my-3 text-center display-1 mx-auto my-auto">
            <%= @book.title %>
          </div>
          <div class="col-8 fs-4 mx-auto">
            <%= @book.outline_title %>
            <br>
            <%= @book.outline_body %>
          </div>
          <div class="container pe-3 pb-3 text-end mt-auto ms-auto">
            <% if logged_in? %>
              <% if current_user.own?(@book) %>
                <div class="ms-auto">
                  <%= link_to edit_book_path(@book), id: "button-edit-#{@book.id}" do %>
                    <i class="bi bi-pencil-fill icon-lg"></i>
                  <% end %>
                  <%= link_to book_path(@book), id: "button-delete-#{@book.id}", data: { turbo_method: :delete, turbo_confirm: t("books.show.delete_confirm") } do %>
                    <i class="bi bi-trash-fill icon-lg"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          </div>
        </div>
      </div>

      <div id="book-plan">
        <div class="row">
          <div class="col-9 mt-5 mx-auto">
            <% @book.plans.each do |plan| %>
              <div class="row mb-3">
                <div class="col-10 mb-3">
                  <h4><%= plan.date.strftime("%Y/%m/%d") if plan.date.present? %></h4>
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 fs-4">
                      <%= plan.start_time.strftime("%H:%M") if plan.start_time.present? %>
                    </div>
                    <div class="col-md-9 fs-4">
                      <%= plan.title if plan.title.present? %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 mb-2 fs-5">
                      <%= plan.end_time.strftime("~ %H:%M") if plan.end_time.present? %>
                    </div>
                    <div class="col-md-9 mb-2 fs-5">
                      <%= plan.location if plan.location.present? %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-9 mb-3 offset-md-3 fs-5">
                      <%= plan.detail if plan.detail.present? %>
                    </div>
                    <% if @book.user_id == current_user.id %>
                      <div class="col-md-9 mb-3 offset-md-3 fs-5">
                        <%= plan.memo if plan.memo.present? %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div id="map" class="mb-5" style="height: 300px; width: 100%;"></div>
    </div>
  </div>
</div>

<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyB-dSTxxqBvNMcdOo9CKpYXPYnAGyUtItw",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>