<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10 mx-auto my-5 py-4">
      <div id="book-cover" style="background-image: url('<%= asset_path('book_image.png') %>'); height: 600px; background-size: cover; background-position: center;">
        <div class="row">
          <div class="position-absolute top-50 start-50 translate-middle">
            <div class="my-5 text-center display-1">
              <%= @book.title %>
            </div>
            <div class="col-5 mx-auto display-6">
              <%= @book.outline_title %>
              <br>
              <%= @book.outline_body %>
            </div>
          </div>
        </div>
      </div>

      <div id="book-plan">
        <div class="row">
          <div class="col-9 mt-5 mx-auto">
            <% @book.plans.each do |plan|%>
              <div class="col-md-3 mb-3">
                <h4><%= plan.date.strftime("%Y/%m/%d") %></h4>
              </div>
              <div class="row">
                <small class="col-md-3 mb-3 fs-4">
                  <%= plan.start_time.strftime("%H:%M") %>
                </small>
                <div class="col-md-9 mb-3 fs-4">
                  <%= plan.title %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 mb-3 offset-md-3 fs-4">
                  <%= plan.detail %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
