<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "私のしおり" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:title" content="私のしおり">
    <meta property="og:type" content="website">
    <meta property="og:description" content="私のしおりは、旅行しおり作成サービスです">
    <meta property="og:url" content="https://watashi-no-shiori.com/">
    <meta property="og:site_name" content="私のしおり">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="私のしおり">
    <meta name="twitter:description" content="私のしおりは、旅行しおり作成サービスです">
    <meta name="twitter:image" content="<%= asset_path('ogp_image.png') %>"

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap&libraries=places" async defer></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= render "shared/flash_message" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
